body {
    font-family: 'Dancing Script', cursive;
    text-align: center;
    background-color: #ffe6e6;
    color: #ff4d4d;
    padding: 50px;
    position: relative;
    overflow-x: hidden; /* Prevent horizontal scroll but allow vertical */
    overflow-y: auto; /* Enable vertical scrolling */

    opacity: 0;
    animation: fadeIn 1s ease-in-out forwards;
}
@keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
}
h1 {
    font-size: 50px;
}
p {
    font-size: 24px;
    max-width: 600px;
    margin: 0 auto;
}
.button-container {
    position: relative;
    display: inline-block;
    margin-top: 20px;
}
.button {
    background-color: #ff4d4d;
    color: white;
    font-size: 24px;
    padding: 15px 30px;
    border: none;
    cursor: pointer;
    border-radius: 10px;
    transition: 0.3s;
    position: relative;
}
.button:hover {
    background-color: #ff6666;
}
/* Image Animation */
.gift-image {
    position: absolute;
    bottom: -100px;
    left: 50%;
    transform: translateX(-50%);
    width: 180px; /* Adjust size as needed */
    height: auto;
    opacity: 0;
    transition: opacity 0.3s ease, bottom 0.3s ease;
}
.button-container:hover .gift-image {
    opacity: 1;
    bottom: -190px;
}
.button-container.clicked .gift-image {
    opacity: 1;
    bottom: -200px;
    transform: translateX(-50%) scale(1.1);
    animation: bounce 0.6s ease-out;
}
@keyframes bounce {
    0% { transform: translateX(-50%) scale(1.1) translateY(0); }
    50% { transform: translateX(-50%) scale(1.1) translateY(-10px); }
    100% { transform: translateX(-50%) scale(1.1) translateY(0); }
}
.heart {
    position: absolute;
    font-size: 24px;
    color: red;
    animation: float 5s infinite ease-in-out;
}
@keyframes float {
    0% { transform: translateY(0); opacity: 1; }
    100% { transform: translateY(-100vh); opacity: 0; }
}

.confetti {
    position: absolute;
    width: 10px;
    height: 10px;
    background-color: red;
    opacity: 1;
    animation: fall 2s ease-out forwards;
}
@keyframes fall {
    0% { transform: translateY(0px) rotate(0deg); opacity: 1; }
    100% { transform: translateY(300px) rotate(360deg); opacity: 0; }
}

.qr-code-link{
    display: flex;
    justify-content: center;
    margin-top: 200px;
}
.qr-code-link.clicked .qr-code{
    opacity: 1;
    bottom: -200px;
    transform: translateX(-50%) scale(1.1);
    animation: bounce 0.6s ease-out;
}

.qr-code{
    position: absolute;
    bottom: -100px;
    left: 50%;
    transform: translateX(-50%);
    width: 180px; /* Adjust size as needed */
    height: auto;
    opacity: 0;
    transition: opacity 0.3s ease, bottom 0.3s ease;
}